@charset "utf-8";
// 默认将输出webkit前缀，moz前缀和标准
@mixin prefixer($property, $value, $prefixes: webkit moz o ms) {
    #{$property}: $value;
    @each $prefix in $prefixes {
        @if $prefix==webkit {
            -webkit-#{$property}:#{$value};
        }
        @else if $prefix==moz {
            -moz-#{$property}:#{$value};
        }
        @else if $prefix==o {
            -o-#{$property}:#{$value};
        }
        @else if $prefix==ms {
            -ms-#{$property}:#{$value};
        }
    }
}
//flex布局
@mixin flex($direction, $justify:center, $alignItems:center) {
    display: flex;
    display: -webkit-flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $alignItems;
}

//字体样式
@mixin font($size:14px, $weight:500, $family:"微软雅黑", $height:1.4, $color:#000) {
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
    line-height: $height;
    color: $color;
}

//多行文本溢出
@mixin overflow($num:1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}

//元素水平居中
@mixin centerRow {
    margin: 0 auto;
}

@mixin img100 {
    display: block;
    width: 100%;
    height: 100%;
}

//主题黄色
$themeColor:#fb2e3c;
html,
body {
    display: block;
    posision: relative;
    left: 0;
    top: 0;
    overflow: auto;
}

.rank {
    display: block;
    position: fixed;
    right: 0.2rem;
    bottom: 0.8rem;
    width: 0.5rem;
    height: 0.5rem;
    padding-top: 0.27rem;
    background: url(../img/qyzq-rhzq.png) no-repeat center center;
    background-size: 100% auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
#main {
    box-sizing: border-box;
    .p1 {
        @include font(0.18rem, 600, null, 1.4, #000);
        text-align: center;
    }
    .p2 {
        @include font(0.13rem, 500, null, 1.4, #000);
        text-align: center;
    }
    //banner
    .banner {
        position: relative;
        left: 0;
        top: 0;
        height: 1.5rem;
        padding-top: 1rem;
        background: url(../img/yqzq-banner.jpg) no-repeat center center;
        background-size: cover;
        box-sizing: border-box;
        .discBtn {
            display: block;
            width: 1.43rem;
            height: 0.41rem;
            margin: 0 auto;
            @include font(0.18rem, 600, null, 0.41rem, #FF5A00);
            background: #fefc4f;
            text-align: center;
            border-radius: 0.2rem;
        }
    }
    //标签栏
    .tabBar {
        border-bottom: 1px solid rgb(242, 242, 242);
        .tabBar-item {
            display: inline-block;
            width: 50%;
            height: 0.4rem;
            color: #999;
            line-height: 0.4rem;
            text-align: center;
        }
        .tabBar-item-active {
            position: relative;
            color: $themeColor;
        }
        .tabBar-item-active:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            width: 0.2rem;
            height: 2px;
            border-radius: 1px 1px 0 0;
            background: $themeColor;
        }
    }
    .container {
        //提现
        .tixian {
            .border1 {
                width: 100%;
                border-bottom: 1px solid #f5f5f7;
            }
            .item {
                padding: 0 0.15rem;
                box-sizing: border-box;
                height: 0.45rem;
                @include flex(row, space-between, center);
                .l {
                    font-size: 0.14rem;
                    color: #1a1a1a;
                    @include flex(row, flex-start, center);
                    .text {
                        display: block;
                        width: 0.95rem;
                        padding: 0 0.1rem 0 0;
                        white-space: nowrap;
                    }
                    .gold,
                    .goldRecord {
                        color: #e73d3d;
                        padding: 0 0.05rem;
                    }
                    img {
                        display: block;
                        width: 0.15rem;
                    }
                }
                .btn {
                    width: 0.8rem;
                    height: 0.3rem;
                    @include flex(row, center, center);
                    background: #f0f0f0;
                    color: #b2b2b2;
                    border-radius: 0.1rem;
                    border: none;
                    font-size: 0.13rem;
                }
                .btnActive {
                    width: 0.8rem;
                    height: 0.3rem;
                    @include flex(row, center, center);
                    border-radius: 0.1rem;
                    border: none;
                    font-size: 0.13rem;
                    background: #e73d3d;
                    color: white;
                }
                .withdrawalRecord {
                    font-size: 0.13rem;
                    color: #b2b2b2;
                    -webkit-tap-highlight-color: transparent;
                }
            }
        }
        .tab-info {
            padding: 0 0.15rem;
            box-sizing: border-box;
            border-top:4px solid #f5f5f7;
            .h5 {
                padding: 0.12rem 0;
                font-size: 0.14rem;
                color: #1a1a1a;
                text-align: center;
            }
            .red {
                font-size: 0.13rem;
                color: $themeColor;
                line-height: 1.5;
            }
            .fontColor {
                font-size: 0.13rem;
                color: #808080;
                line-height: 1.5;
            }
        }
        //徒弟列表        
        .discCon {
            display: none;
            width: 100%;
            .dropload-load {
                width: 100%;
                height: 100%;
                text-align: center;
                line-height: 3;
            }
            .discList {
                width: 100%;
                /**
             * 默认图片
             */
                .noDisc {
                    display: block;
                    margin: 0 auto;
                    padding-top: 50px;
                    width: 0.96rem;
                    height: 1.19rem;
                }
                li {
                    display: flex;
                    display: -webkit-flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 0 0.15rem;
                    height: 0.5rem;
                    width: 100%;
                    border-bottom: 1px solid #f2f2f2;
                    box-sizing: border-box;
                    font-size: 0.13rem;
                    color: #1a1a1a;
                    div {
                        flex: 1;
                        display: flex;
                        display: -webkit-flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    div:nth-child(1) {
                        justify-content: flex-start;
                        .userPhoto {
                            display: flex;
                            display: -webkit-flex;
                            flex-direction: row;
                            align-items: center;
                            width: 0.35rem;
                            height: 0.35rem;
                            border-radius: 1000px;
                            overflow: hidden;
                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                        .userName {
                            font-size: 0.13rem;
                            padding: 0 0.1rem;
                        }                      
                    }
                    div:nth-child(2) {
                        justify-content: flex-end;
                    }
                    .redFont {
                        color: #f65656;
                    }
                    //我的徒弟选择项卡样式
                    .disc-status {
                        color: #999999;
                        .red{
                            color:$themeColor;
                        }
                    }
                }
            }
        }
    }    
}